include ChangeLog.rst
include dispass.1
include dispass.info
include LICENSE
include Makefile
include README.rst
recursive-include bin dispass
recursive-include bin gdispass
recursive-include zsh _dispass
